body {
    /* border: solid black; */
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    
}

.header {
    font-weight: bolder;
}

.content-container {
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 30px;
    margin: 300px 0;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font: bold;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 7px black;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

button:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#button-wrapper {
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.footer {
    /* border: solid black; */
    display: flex;
    padding: 10px;
}