body {
    /* border: solid black; */
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    
}

.content-container {
    /* border: solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 50px;
    margin: 300px 0;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font: bold;
}

#button-wrapper {
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
}